<div class="bg-theme-light dark:bg-darkmode-theme-light rounded p-8 text-center">
  {{ with .Site.Params.author }}
    {{ if .image }}
      <img
        class="mx-auto mb-6 rounded"
        alt="{{ .name }}"
        height="120"
        width="120"
        src="{{ .image | relURL }}" />
    {{ else if .email }}
      <img
        class="mx-auto mb-6 rounded"
        alt="{{ .name }}"
        height="120"
        width="120"
        src="https://www.gravatar.com/avatar/{{ md5 .email }}?s=128&pg&d=identicon" />
    {{ end }}

    <h4 class="mb-3">
      <span>{{ .name }}</span>
    </h4>

    {{ with .bio }}
      <p class="mb-4">{{ . }}</p>
    {{ end }}

    <ul class="social-icons">
      {{ with $.Site.Params.social }}
        {{ range . }}
          <li>
            <a href="{{ .link | safeURL }}" target="_blank" rel="noopener nofollow">
              <span class="sr-only">{{ .name }}</span>
              <i class="{{ .icon }}"></i>
            </a>
          </li>
        {{ end }}
      {{ end }}
    </ul>
  {{ end }}
</div>