{{ $context := .Context }}
{{ $class := .Class }}
{{ $base := site.BaseURL }}


<ul class="{{ $class }} inline-flex space-x-1 capitalize">
  <li>
    <a
      class="text-primary dark:text-darkmode-primary"
      href="{{ $base | relLangURL }}">
      {{ i18n "home" | default "Home" }}
    </a>
    <span class="inlin-block mr-1">&nbsp;/</span>
  </li>
  {{ range $i, $e:= $context.Ancestors.Reverse }}
    {{ if and (not .IsHome) (ne .Slug "Pages") }}
      <li>
        <a
          class="text-primary dark:text-darkmode-primary"
          href="{{ .RelPermalink }}">
          {{ .Slug }}
        </a>
        <span class="inlin-block mr-1">/</span>
      </li>
    {{ end }}
  {{ end }}
  <li>
    <span class="text-primary dark:text-darkmode-primary">
      {{ $context.Slug }}
    </span>
  </li>
</ul>
