<div
  class="bg-theme-light dark:bg-darkmode-theme-light rounded p-8 text-center">


  <a href="{{ .RelPermalink }}">
    <img src="{{ .Params.Image }}" class="mx-auto mb-6 rounded" width="120">
    <h4 class="mb-3">
      {{ .Params.Name }}
    </h4>
    <h5>
     {{ .Params.Description }}
    </h5>
    <img src="{{ .Params.Logo }}" width="70%">
    <br>
    <p class="mb-4">
     {{ .Summary }}
    </p>
  </a>

  <p class="contact-link">
    <a href="mailto:{{ .Params.Email }}">{{ .Params.Email }}</a>
    <br>
    <a href="tel:{{ .Params.Phone }}">{{ .Params.Phone }}</a>
    <br>
  </p>
  <br>
  <ul class="social-icons">
    {{ range .Params.social }}
      <li>
        <a href="{{ .link | safeURL }}" target="_blank" rel="noopener nofollow">
          <span class="sr-only">{{ .title }}</span>
          <i class="{{ .icon }}"></i>
        </a>
      </li>
    {{ end }}
  </ul>
</div>
