<div
  class="bg-theme-light dark:bg-darkmode-theme-light rounded p-8 text-center">

  <a href="{{ .RelPermalink }}">

  {{ with resources.Get .Params.profile }}
    {{ with .Fill "200x200 Top" }}
      <img src="{{ .RelPermalink }}" class="mx-auto mb-6 rounded" width="{{ .Width }}" height="{{ .Height }}" alt="">
    {{ end }}
  {{ end }}

    <h4 class="mb-3">
      {{ .Params.Name }}
    </h4>
    <h5>
     {{ .Params.Description }}
    </h5>
<br>
{{ if .Params.Logo }}
{{ with resources.Get .Params.logo }}
  {{ if not (eq .MediaType.SubType "svg") }}
    {{ with .Resize "300x" }}
    <img src="{{ .RelPermalink }}" class="directory-logo">
    {{ end }}
  {{ else }}
    <img src="{{ .RelPermalink }}" class="directory-logo">
  {{ end }}
{{ end }}
{{ else }}
<h4 class="mb-3">
  {{ .Params.Company }}
</h4>
{{ end }}
<br>
    <p class="mb-4">
     {{ .Summary }}
    </p>
  </a>

  <p class="contact-link">
    <a href="tel:{{ .Params.Phone }}">{{ .Params.Phone }}</a>
    <br>
    <a href="mailto:{{ .Params.Email }}">{{ .Params.Email }}</a>
    <br>
    <a href="{{ .Params.Website }}" target="_blank">
      {{ .Params.Website }}</a>
    <br>
    <br>
  </p>
  <br>
  <ul class="social-icons">
    {{ range .Params.social }}
      <li>
        <a href="{{ .link | safeURL }}" target="_blank" rel="noopener nofollow">
          <span class="sr-only">{{ .title }}</span>
          <i class="{{ .icon }}"></i>
        </a>
      </li>
    {{ end }}
  </ul>
</div>
