<div class="bg-theme-light dark:bg-darkmode-theme-light rounded p-8 text-center">
  <a href="{{ .RelPermalink }}">
    
    <!-- PROFILE -->
    {{ with resources.Get .Params.profile }}
      {{ with .Fill "200x200 Top" }}
        <img src="{{ .RelPermalink }}" class="mx-auto mb-6 rounded-full" width="{{ .Width }}" height="{{ .Height }}" alt="">
      {{ end }}
    {{ end }}
    <!-- PROFILE-END -->

    <!-- NAME -->
    <h4 class="mb-3">
      {{ .Params.Name }}
    </h4>
    <h5>
     {{ .Params.Description }}
    </h5>
    <!-- NAME-END -->

    <!-- LOGO or COMPANY NAME -->
    {{ if .Params.Logo }}
      {{ with resources.Get .Params.logo }}
        {{ if not (eq .MediaType.SubType "svg") }}
          {{ with .Resize "300x" }}
            <img src="{{ .RelPermalink }}" class="trusted-professionals-logo">
          {{ end }}
        {{ else }}
          <img src="{{ .RelPermalink }}" class="trusted-professionals-logo">
        {{ end }}
      {{ end }} 
    {{ else }}
      <h4 class="mb-3"> {{ .Params.Company }} </h4>
    {{ end }}
    <!-- LOGO-END -->
    
    <!-- PHONE -->
    <ul>
      {{ if .Params.Phone }}
        <li><a class="mt-6" href="tel:{{ .Params.Phone }}">Phone: {{ .Params.Phone }}</a></li>
      {{ end }}

      {{ if .Params.Phone_office }}
        <li>
          <a class="btn btn-primary" href="tel:{{ .Params.Phone_office }}"><i class="fa-solid fa-phone"></i> Office: {{ .Params.Phone_office }}</a></li>
      {{ end }}

      {{ if .Params.Phone_cell }}
        <li><a class="btn btn-primary" href="tel:{{ .Params.Phone_cell }}"><i class="fa-solid fa-mobile"></i> Mobile: {{ .Params.Phone_cell }}</a></li>
      {{ end }}
    </ul>
    <!-- PHONE-END -->

    <!-- LINKS -->
    <p class="contact-link">
      <a class="btn btn-primary" href="mailto:{{ .Params.Email }}">
        <i class="fa-regular fa-envelope"></i> Email</a>
      <a class="btn btn-primary" href="{{ .Params.Website }}" target="_blank">
        <i class="fa-solid fa-globe"></i> Website</a>
    </p>
    <!-- LINKS-END -->

    <!-- SOCIAL -->
    <ul class="social-icons">
      {{ range .Params.social }}
        <li>
          <a href="{{ .link | safeURL }}" target="_blank" rel="noopener nofollow">
            <span class="sr-only">{{ .title }}</span>
            <i class="{{ .icon }}"></i>
          </a>
        </li>
      {{ end }}
    </ul>
    <!-- SOCIAL-END -->

    <!-- SUMMARY -->
    <p class="mb-4">
      {{ .Summary }}
    </p>
    <!-- SUMMARY-END -->

  </a>
</div>