{{ with .Params.banner }}
<div class="bannerFrame">
  <div class="bannerText">
    <h4>
      {{ .title | markdownify }}
    </h4>
    <p class="mb-8">
      {{ .content | markdownify }}
    </p>

    <div class="flex flex-wrap justify-center gap-4">
      {{ with .button2 }}
        {{ if .enable }}
          <a class="btn btn-primary" href="{{ .link | absURL }}">
            {{ .label }}
          </a>
        {{ end }}
      {{ end }}

      {{ with .button }}
        {{ if .enable }}
          <a class="btn btn-primary" href="{{ .link | absURL }}">
            {{ .label }}
          </a>
        {{ end }}
      {{ end }}
    </div>
    
  </div>  
</div>      
{{ end }}