{{ define "main" }}
  {{ partial "page-header" . }}
  <section class="section">
    <div class="container">
      <div class="flex flex-wrap justify-center gap-8">
        {{ $paginator := .Paginate .RegularPages }}
        {{ range $paginator.Pages }}
          <div style="flex: 0 0 400px; height: 500px;" class="mb-4">
            {{ partial "components/directory-card" . }}
          </div>
        {{ end }}
      </div>
      
      <div class="mt-12 text-center">
        {{ partial "components/pagination.html" . }}
      </div>
    </div>
  </section>
{{ end }}