{{ define "main" }}
{{ partial "page-header" . }}
  <section class="section">
    <div class="container">
      <div class="row md:row-cols-3 lg:row-cols-4 g-4">
          {{ range site.Taxonomies.directory.Alphabetical }}
            <div>
              <a href="{{ .Page.Permalink }}" class="text-center m-auto bg-theme-light text-dark dark:bg-darkmode-theme-light dark:text-darkmode-dark block rounded px-4 py-2 text-xl">
                {{ .Page.Title }}
              </a>
            </div>
          {{ end }}
      </div>
    </div>
  </section>
{{ end }}