{{ define "main" }}
  {{ partial "page-header" . }}
  <section class="section">
    <div class="container">
      <div class="text-center row">
          {{ range site.Taxonomies.directory.Alphabetical }}
            <div class="md:col-4">
              <a href="{{ .Page.Permalink }}" class="m-3 bg-theme-light text-dark dark:bg-darkmode-theme-light dark:text-darkmode-dark block rounded px-4 py-2 text-xl">
                {{ .Page.Title }}
              </a>
            </div>
          {{ end }}
      </div>
    </div>
  </section>
{{ end }}