{{ define "main" }}
<main class="file-explorer-container">
  
  <header class="explorer-header">
    <h2>Index of /{{ .Page.File.Dir }}</h2>
    <p class="explorer-meta">Total Items: {{ len (append .Sections .Resources) }}</p>
  </header>

  <table class="file-explorer-table">
    <thead>
      <tr>
        <th class="col-name">Name</th>
        <th class="col-date">Last Modified</th>
        <th class="col-size">Size</th>
      </tr>
    </thead>
    <tbody>
      {{ if .Parent }}
      <tr class="explorer-row parent-dir">
        <td class="col-name">
          <a href="{{ .Parent.Permalink }}">
            <span class="icon folder-icon">📁</span> .. (Parent Directory)
          </a>
        </td>
        <td class="col-date">-</td>
        <td class="col-size">-</td>
      </tr>
      {{ end }}

      {{ range .Sections }}
      <tr class="explorer-row directory">
        <td class="col-name">
          <a href="{{ .Permalink }}">
            <span class="icon folder-icon">📁</span> {{ .Title }}/
          </a>
        </td>
        <td class="col-date">
          {{ if not .Lastmod.IsZero }}{{ .Lastmod.Format "2006-01-02 15:04" }}{{ else }}-{{ end }}
        </td>
        <td class="col-size">[DIR]</td>
      </tr>
      {{ end }}

      {{ range .Resources }}
      <tr class="explorer-row file">
        <td class="col-name">
          <a href="{{ .RelPermalink }}" download>
            <span class="icon file-icon">📄</span> {{ .Name }}
          </a>
        </td>
        <td class="col-date">
          {{ if not $.Lastmod.IsZero }}{{ $.Lastmod.Format "2006-01-02 15:04" }}{{ else }}-{{ end }}
        </td>
        <td class="col-size">
          {{ $size := .Data.Integrity.Size }}
          {{ if gt $size 1048576 }}
            {{ printf "%.2f MB" (div $size 1048576.0) }}
          {{ else if gt $size 1024 }}
            {{ printf "%.1f KB" (div $size 1024.0) }}
          {{ else }}
            {{ $size }} B
          {{ end }}
        </td>
      </tr>
      {{ end }}
    </tbody>
  </table>

</main>
{{ end }}